{% extends "base.html" %}

{% block content %}

<div class="contacts-page">
    <div class="address">
        <h1 class="pagename">Свяжитесь с нами</h1>
        <hr>
        <p>Харьков улица Пушкина, дом Колотушкина</p>
        <p>Телефон: +380664389023</p>
        <p>E-mail: wind.andeddu@gmail.com</p>
        <p>График работы:</p>
        <p>Понедельник – Воскресенье: с 8:00 до 22:00</p>
    </div>
    <div class="contactUs">
        <div class="form">
            <form class="contactform" action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.phone.label }}<br>
                    {{ form.phone(size=32) }}<br>
                </p>
                <p>
                    {{ form.question.label }}<br>
                    {{ form.question(size=1024) }}<br>
                    {% for error in form.question.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.2747152641564!2d36.24741431571533!3d50.006205979416514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0db4d2217a7%3A0x88302ffcb8386ae8!2z0YPQuy4g0J_Rg9GI0LrQuNC90YHQutCw0Y8sIDc5LzEsINCl0LDRgNGM0LrQvtCyLCDQpdCw0YDRjNC60L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2MTAwMA!5e0!3m2!1sru!2sua!4v1590263423424!5m2!1sru!2sua"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>
</div>

{% endblock %}