{% extends "base.html" %}

{% block content %}

<div class="index-page">
    <div class="description1">
        <h2 class="motivation">Присоединяйся к нашей команде и прокачай своё тело</h2>
        <p>
            Только у нас лучшие тренера с многолетним стажем которые помогут<br> привести твоё тело в идеальное
            состояние.<br>
            Более 150 спортивных снарядов и любой доступен для использования<sup>*</sup><br>
            Доступные абонемены для любых посетителей<br>
            Скидки студентам и школьникам по предявлению студенческого билета<br> или дневника с хорошими оценками<sup>**</sup>
            ;)<br>
            <a href="{{ url_for('contacts')}}">Звони</a> прямо сейчас, работаем без перерывов и выходных c 8:00 до 22:00<br>
            <sub><sup>*</sup>Некоторые снаряды можно использовать только в присутствии тренера <br>
                <sup>**</sup>Хорошие оценки не обязательны, просто приносите дневник,<br> как подтверждение того что Вы
                учитесь в школе</sub>
        </p>
    </div>
    <h1 class="h1tr">Наши тренера</h1>
    <div class="treiners">
        <div class="trainers1">
            <div class="trb1 trb">
                <div class="trholder"><img src="/static/img/tr1.png" class="tr1 tr">
                    <div class="trblock">
                        <h3>Валерия</h3>
                        <p>Покажет тебе как накачать тебе пресс и не только. КМС по гиревому спорту, так что может
                            придавить тебя гирей если не захочешь делать то что тебе сказали</p>
                    </div>
                </div>
            </div>
            <div class="trb2 trb">
                <div class="trholder"><img src="/static/img/tr2.png" class="tr2 tr">
                    <div class="trblock">
                        <h3>Руслан</h3>
                        <p>Участник соревнований RAW 100% по поднятию на бицепс. Призер соревнований по гиревому спорту.
                            Даст под зад, если увидит тебя курящим после тренировки</p>
                    </div>
                </div>
            </div>
            <div class="trb3 trb">
                <div class="trholder"><img src="/static/img/tr3.png" class="tr3 tr">
                    <div class="trblock">
                        <h3>Андрей</h3>
                        <p>Призер соревнований по русскому жиму, призер соревнований по спортивному троеборью, призер
                            соревнований по легкоатлетическому четырёхборью.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="treiners2">
            <div class="trb4 trb">
                <div class="trholder"><img src="/static/img/tr4.png" class="tr4 tr">
                    <div class="trblock">
                        <h3>Инна</h3>
                        <p>Учасник семенаров в направлениях: ТРХ, функциональный тренинг, секреты нутрициологии,
                            здоровая спина, степ advance</p>
                    </div>
                </div>
            </div>
            <div class="trb5 trb">
                <div class="trholder"><img src="/static/img/tr5.png" class="tr5 tr">
                    <div class="trblock">
                        <h3>Валерий</h3>
                        <p>Высшее спортивное образование ``ХГАФК`` - тяжелая атлетика. Является мастером спорта Украины
                            по Пауэрлифтингу в разделе - жим лёжа.</p>
                    </div>
                </div>
            </div>
            <div class="trb6 trb">
                <div class="trholder"><img src="/static/img/tr6.png" class="tr6 tr">
                    <div class="trblock">
                        <h3>Ольга</h3>
                        <p>Тренер по аэробике а квааэробике, проследит за тем чтобы у тебя не встало сердце при
                            тренировках специально разработаных ею для всех и каждого</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}