{% extends "base.html" %}

{% block content %}
<div class="prices-page">
    <h1 class="pagename">Цены</h1>
    <hr>
    <h2>АБОНЕМЕНТЫ В ТРЕНАЖЕРНЫЙ ЗАЛ (без тренера)</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Абонемент безлимитный без тренера (неограниченное количество посещений в течение 30
                дней)
            </td>
            <td class="price"><p>650 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Абонемент дневной безлимитный (пн. - пт. с 12.00 до 16.00, сб. вс. с 9:00 до 19:00)
            </td>
            <td class="price"><p>500 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Абонемент выходного дня (сб. с 9:00 до 22:00, вс. с 9:00 до 19:00)</td>
            <td class="price"><p>450 грн</p></td>
        </tr>
        </tbody>
    </table>
    <h2>АБОНЕМЕНТЫ ДЛЯ УЧАЩИХСЯ В ТРЕНАЖЕРНЫЙ ЗАЛ (без тренера)</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Школьный абонемент без тренера</td>
            <td class="price"><p>500 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Студенческий абонемент</td>
            <td class="price"><p>500 грн</p></td>
        </tr>
        </tbody>
    </table>

    <h2>АБОНЕМЕНТ ``СЕМЕЙНЫЙ`` (без тренера)</h2>

    <table>
        <tbody>
        <tr>
            <td class="prdesc">Безлимитный абонемент без тренера
            </td>
            <td class="price"><p>590 грн</p></td>
        </tr>
        </tbody>
    </table>


    <h2>АБОНЕМЕНТЫ В ТРЕНАЖЕРНЫЙ ЗАЛ (с тренером)</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Абонемент безлимитный под контролем тренера
            </td>
            <td class="price"><p>1100 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Индивидуальный безлимитный абонемент с тренером
            </td>
            <td class="price"><p>3000 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Абонемент безлимитный с персональным тренером
            </td>
            <td class="price"><p>2500 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Индивидуальный безлимитный абонемент с тренером СПЛИТ
            </td>
            <td class="price"><p>2000 грн</p></td>
        </tr>
        </tbody>
    </table>

    <h2>АБОНЕМЕНТ ДЛЯ УЧАЩИХСЯ В ТРЕНАЖЕРНЫЙ ЗАЛ (с тренером)</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Школьный безлимитный абонемент под контролем тренера
            </td>
            <td class="price"><p>750 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Студенческий безлимитный абонемент под контролем тренера
            </td>
            <td class="price"><p>750 грн</p></td>
        </tr>
        </tbody>
    </table>


    <h2>АБОНЕМЕНТ ``СЕМЕЙНЫЙ`` (с тренером)</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Безлимитный абонемент под контролем тренера
            </td>
            <td class="price"><p>1000 грн</p></td>
        </tr>
        </tbody>
    </table>

    <h2>ГРУППОВЫЕ ЗАНЯТИЯ</h2>

    <table>
        <tbody>
        <tr>
            <td class="prdesc">Сайклинг 1 раз в неделю </td>
            <td class="price"><p>400 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Сайклинг 2 раза в неделю</td>
            <td class="price"><p>450 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Сайклинг 3 раза в неделю</td>
            <td class="price"><p>500 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Пилатес Progressive 2 раза в неделю</td>
            <td class="price"><p>530 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Пилатес Progressive 3 раза в неделю</td>
            <td class="price"><p>570 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Стретчинг 2 раза в неделю</td>
            <td class="price"><p>550 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">TRX 2 раза в неделю</td>
            <td class="price"><p>600 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">TRX 3 раза в неделю</td>
            <td class="price"><p>640 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Фитнес Mix Intensive 2 раза в неделю/td>
            <td class="price"><p>530 грн</p></td>
        </tr>
        <tr class="row-10 even">
            <td class="prdesc">Фитнес Mix Intensive 3 раза в неделю </td>
            <td class="price"><p>570 грн</p></td>
        </tr>
        <tr class="row-11 odd">
            <td class="prdesc">Разовая тренировка</td>
            <td class="price"><p>150 грн</p></td>
        </tr>
        <tr class="row-12 even">
            <td class="prdesc">Разовая тренировка TRX</td>
            <td class="price"><p>170 грн</p></td>
        </tr>
        </tbody>
    </table>

    <h2>ГРУППОВЫЕ ЗАНЯТИЯ + ТРЕНАЖЕРНЫЙ ЗАЛ</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Абонемент Комплексный
            </td>
            <td class="price"><p>Стоимость группового направления + 325 грн</p>
            </td>
        </tr>
        <tr>
            <td class="prdesc">Абонемент Комплексный с тренером
            </td>
            <td class="price"><p>Стоимость группового направления + 800 грн</p>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h2>
    <table>
        <tbody>
        <tr>
            <td class="prdesc">Услуга «Заморозка»</td>
            <td class="price"><p>90 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Аренда шкафчика</td>
            <td class="price"><p>150 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Разовое посещение тренажерного зала без тренера</td>
            <td class="price"><p>150 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Разовое посещение под контролем тренера, при наличии абонемента без тренера</td>
            <td class="price"><p>150 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Разовое посещение тренажерного зала под контролем тренера</td>
            <td class="price"><p>250 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Разовое посещение тренажерного зала под контролем персонального тренера</td>
            <td class="price"><p>300 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Составление индивидуальной программы тренировок в тренажерном зале</td>
            <td class="price"><p>350 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Составление индивидуальной диеты</td>
            <td class="price"><p>250 грн</p></td>
        </tr>
        <tr>
            <td class="prdesc">Стоимость карточки абонемента</td>
            <td class="price"><p>10 грн</p></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}