{% extends "base.html" %}

{% block content %}
<div class="review-page">
    <h1 class="pagename">Отзывы</h1>
    <hr>
    <div class="container">
        <img src="/static/img/avatar.png" alt="avatar">
        <p><span>Марина</span></p>
        <p>Lorem ipsum — dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="container">
        <img src="/static/img/avatar.png" alt="avatar">
        <p><span>Александра</span></p>
        <p>Lorem ipsum — dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="container">
        <img src="/static/img/avatar.png" alt="avatar">
        <p><span>Валера</span></p>
        <p>Lorem ipsum — dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="container">
        <img src="/static/img/avatar.png" alt="avatar">
        <p><span>Олег</span></p>
        <p>Lorem ipsum — dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>

</div>
{% endblock %}