{% extends "base.html" %}

{% block content %}

<div class="schedule-page">
    <h1 class="pagename">Расписание секций</h1>
    <hr>
    <table class="tab-content">
        <tr>
            <th></th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
        </tr>
        <tr>
            <th>09:00</th>
            <td>
                <span class="sch">Кроссфит<br> 09:00-10:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Кроссфит<br> 09:00- 10:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Кроссфит<br> 09:00-10:00</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>10:00</th>
            <td></td>
            <td>
                <span class="sch">Фитнес-интенсив (HIIT/ВИИТ)<br> 10:00-11:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Фитнес-интенсив (HIIT/ВИИТ)<br> 10:00-11:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Табата<br> 10:00-11:00</span>
            </td>
        </tr>
        <tr>
            <th>11:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span class="sch">Фитнес-интенсив (HIIT/ВИИТ)<br> 11:00-12:00</span>
            </td>
        </tr>
        <tr>
            <th>12:00</th>
            <td>
                <span class="sch">Стретчинг<br>12:00-13:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Стретчинг<br>12:00-13:00</span>
            </td>
            <td></td>
            <td>
                <span class="sch">Стретчинг<br>12:00-13:00</span>

            </td>
            <td></td>
        </tr>
        <tr>
            <th>13:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span class="sch">Зумба-Фитнес<br> 13:00-14:00</span>

            </td>
        </tr>
        <tr>
            <th>15:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span class="sch">Кикбоксинг для детей<br> 15:00 -16:00</span>
            </td>
        </tr>
        <tr>
            <th>16:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span class="sch">Кикбоксинг<br> 16:00-17:00</span>
            </td>
        </tr>
        <tr>
            <th>17:00</th>
            <td>
                <span class="sch">Кикбоксинг<br> 17:00-18:00</span>
                <span class="sch">Кикбоксинг для детей<br> 17:00-18:00</span>
                <span class="sch">Кроссфит для детей<br> 17:00-18:00</span>
            </td>
            <td>
                <span class="sch">Кикбоксинг<br> 17:00-18:00</span>
                <span class="sch">Кикбоксинг для детей<br> 17:00-18:00</span>

            </td>
            <td>
                <span class="sch">Кикбоксинг<br> 17:00-18:00</span>
                <span class="sch">Кикбоксинг для детей<br> 17:00-18:00</span>
                <span class="sch">Кроссфит для детей<br> 17:00-18:00</span>
            </td>
            <td>
                <span class="sch">Кикбоксинг<br> 17:00-18:00</span>
                <span class="sch">Кикбоксинг для детей<br> 17:00-18:00</span>
            </td>
            <td>
                <span class="sch">Кикбоксинг<br> 17:00-18:00</span>
                <span class="sch">Кикбоксинг для детей<br> 17:00-18:00</span>
                <span class="sch">Кроссфит для детей<br> 17:00-18:00</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>18:00</th>
            <td>
                <span class="sch">Стретчинг<br> 18:00-19:00 </span>
                <span class="sch">Фитнес микс интенсив<br> 18:00-19:00</span>
            </td>
            <td>
                <span class="sch">Фитнес-интенсив (HIIT/ВИИТ)<br> 18:00-19:00</span>
            </td>
            <td>
                <span class="sch">Стретчинг<br> 18:00-19:00  </span>
                <span class="sch">Фитнес микс интенсив<br>  18:00-19:00</span>
            </td>
            <td>
                <span class="sch">Фитнес-интенсив (HIIT/ВИИТ)<br> 18:00-19:00</span>
            </td>
            <td>
                <span class="sch">Фитнес микс интенсив<br> 18:00-19:00</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>19:00</th>
            <td>
                <span class="sch">Йога<br> 19:00-20:00 </span>
                <span class="sch">Фитнес микс интенсив<br> 19:00-20:00</span>
            </td>
            <td>
                <span class="sch">Табата<br> 19:00-20:00</span>
                <span class="sch">Функциональный тренинг<br> 19:00-20:00</span>
            </td>
            <td>
                <span class="sch">Фитнес микс интенсив<br> 19:00-20:00</span>
            </td>
            <td>
                <span class="sch">Табата<br> 19:00-20:00</span>
                <span class="sch">Функциональный тренинг<br> 19:00-20:00</span>
            </td>
            <td>
                <span class="sch">Йога<br> 19:00-20:00</span>
                <span class="sch">Фитнес микс интенсив<br> 19:00-20:00</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th>20:00</th>
            <td>
                <span class="sch">Фитнес микс интенсив<br> 20:00-21:00</span>
            </td>
            <td>
                <span class="sch">Пилатес<br> 20:00-21:00</span>
            </td>
            <td>
                <span class="sch">Фитнес микс интенсив<br> 20:00-21:00</span>
            </td>
            <td>
                <span class="sch">Пилатес<br> 20:00-21:00</span>
            </td>
            <td>
                <span class="sch">Фитнес микс интенсив<br> 20:00-21:00</span>
            </td>
            <td></td>
        </tr>
    </table>
</div>

{% endblock %}